<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <p><a href="{{ url_for('home.home_page') }}">Back to Home</a></p>
    
    <h2>Manage Users</h2>
    <label for="admin">admin? (1=yes 0=no):</label>
        <input type="text" id="admin" name="admin" required><br>
    <ul class="user-list">
        {% for user in users %}
        <li>
            <strong>{{ user.username }}</strong>
            <form method="POST" action="{{ url_for('admin.delete_user', user_id=user.id) }}" style="display:inline;">
                <button type="submit">Delete Account</button>
                
            </form>
        </li>
        {% endfor %}
    </ul>
        <!-- Flash message section for the most recent message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-message">
            {{ messages[-1] }}
        </div>
        {% endif %}
        {% endwith %}

    <h1>Register Admin</h1>
    <form method="POST" action="/registerAdmin">
        {{create_admin_form.hidden_tag()}}
        {{create_admin_form.username.label}} {{create_admin_form.username()}}<br>
        {{create_admin_form.password.label}} {{create_admin_form.password()}}<br>
        {{create_admin_form.submit()}}
    </form>

</body>
</html>
